html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* * {
    margin: 0;
    padding: 0;
} */

header {
    text-align: center;
    background: rgba(0,0,0,.8);
    color: ghostwhite;
    padding-bottom: 1%;
}
/* TODO: Fancy up the headings. */
h1 {
    font-weight: bold;
}

h2 {
    font-style: oblique;
}

h3 {
    margin-bottom: 0%; padding-bottom: 0%;
}

/* TODO: Hidden until I'm ready to work on them. */
.buttons {
    visibility: hidden;
/* Position and top are from the carousel CSS. */
    /* position: relative;
    top: -40px; */
}

.btn-submit {
    border-radius: 16px;
    border: 1px solid black;
    color: black;
    background-color: lemonchiffon;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    padding: 12px;
    margin: 3%;
}

.btn-submit:hover {
    background-color: rgb(255, 230, 0);
}

.btn-submit:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

/* TODO: Hidden until I'm ready to work on it. */
/* .score-modal {
    visibility: visible;
    font-size: 22px;
    padding: 16px 0 32px;
} */

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 8px;
}

section {
    /* position: absolute; */
    background-color: lemonchiffon;
    border: 1px solid black;
    width: auto;
}
.questions {
    margin: 5%;
}

/* TODO: These will become modals. */
#question1 {
    margin: 2%;
    padding: 3%;
    /* z-index: 1000; */
}
#question2 {
    margin: 2%;
    padding: 3%;
    /* z-index: 1000; */
}
#question3 {
    margin: 2%;
    padding: 3%;
    /* z-index: 1000; */
}
#question4 {
    margin: 2%;
    padding: 3%;
    /* z-index: 1000; */
}
#question5 {
    margin: 2%;
    padding: 3%;
    /* z-index: 1000; */
}
#question6 {
    margin: 2%;
    padding: 3%;
    /* z-index: 1000; */
}
#question7 {
    margin: 2%;
    padding: 3%;
    /* z-index: 1000; */
}
#question8 {
    margin: 2%;
    padding: 3%;
    /* z-index: 1000; */
}
#question9 {
    margin: 2%;
    padding: 3%;
    /* z-index: 1000; */
}
#question10 {
    margin: 2%;
    padding: 3%;
    /* z-index: 1000; */
}

/* This list is the actual answers to the questions, which have radio buttons.  */
li {
    list-style: none;
}

/*----------------------------------
Section - Modal
------------------------------------*/

/* Modal (background) */
.modal {
    /*Hidden by default */
    display: block;
    width: 100%;
    height: 100%;
    /* Fallback color */
    background-color: rgb(46, 61, 73);
    /* With opacity */
    background-color: rgba(46, 61, 73, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

/* Modal Content/Box */
/* TODO: Style this and make it look better */
.modal-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 5% auto;
    width: 80%;
    background-color: white;
    border: 10px solid rgb(0, 187, 40);
}

/* The Close Button */
#close {
    align-self: flex-end;
    color: rgb(0, 150, 62);
    font-size: 60px;
    padding-right: 2%;
}

#close:hover,
#close:focus {
    color: rgb(231, 167, 29);
    text-decoration: none;
    cursor: pointer;
}

/* TODO: Doesn't exist yet. I think in JS it will along with #modal. */
p.stats {
    font-weight: 600;
    font-size: xx-large;
}

p.stats:last-child {
    margin-bottom: 16px;
}

